@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #060b20;
  --white: #fff;
  --ff-primary: "Montserrat";
  --bcg-body: #f4f7fa;
  --borderRadius: 0.25rem;
  --letterSpacing: 0.1em;
  --transition: 0.3s ease-in-out all;
  --max-width: 1180px;
  --fixed-width: 600px;
  --view-width: 90vw;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--ff-primary), "Roboto", system-ui, sans-serif;
  background-color: #f4f7fa;
  scroll-behavior: smooth;
}

.loading {
  inline-size: 6rem;
  block-size: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.loading-center {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container-car-page {
  min-height: calc(100vh - 10rem);
}
